# fetcher configurations
_job_fetcher:
  _target_: oqtopus_engine_core.fetchers.MockJobFetcher
  interval_seconds: ${oc.decode:${oc.env:JOB_FETCHER_INTERVAL_SECONDS, 10}}
  limit: ${oc.decode:${oc.env:JOB_FETCHER_LIMIT, 10}}
  job_fetch_threshold: ${oc.decode:${oc.env:JOB_FETCHER_THRESHOLD, 10}}
job_fetcher:
  _target_: oqtopus_engine_core.fetchers.RepositoryJobFetcher
  interval_seconds: ${oc.decode:${oc.env:JOB_FETCHER_INTERVAL_SECONDS, 10}}
  limit: ${oc.decode:${oc.env:JOB_FETCHER_LIMIT, 10}}
  job_fetch_threshold: ${oc.decode:${oc.env:JOB_FETCHER_THRESHOLD, 10}}
device_fetcher:
  _target_: oqtopus_engine_core.fetchers.DeviceGatewayFetcher
  gateway_address: ${oc.env:GATEWAY_ADDRESS, "localhost:52021"}
  initial_interval_seconds: ${oc.decode:${oc.env:DEVICE_FETCHER_INITIAL_INTERVAL_SECONDS, 10}}
  initial_backoff_max_seconds: ${oc.decode:${oc.env:DEVICE_FETCHER_INITIAL_BACKOFF_MAX_SECONDS, 60}}
  loop_interval_seconds: ${oc.decode:${oc.env:DEVICE_FETCHER_LOOP_INTERVAL_SECONDS, 60}}
  loop_backoff_max_seconds: ${oc.decode:${oc.env:DEVICE_FETCHER_LOOP_BACKOFF_MAX_SECONDS, 300}}
  enable_device_info_update: ${oc.decode:${oc.env:DEVICE_FETCHER_ENABLE_DEVICE_INFO_UPDATE, true}}

# repository configurations
_job_repository:
  _target_: oqtopus_engine_core.repositories.NullJobRepository
job_repository:
  _target_: oqtopus_engine_core.repositories.OqtopusCloudJobRepository
  url: ${oc.env:JOB_REPOSITORY_URL, "http://localhost:8888"}
  api_key: ${oc.env:JOB_REPOSITORY_API_KEY, ""}
  workers: ${oc.decode:${oc.env:JOB_REPOSITORY_WORKERS, 10}}
  storage_op_timeout_seconds: ${oc.decode:${oc.env:STORAGE_OP_TIMEOUT_SECONDS, 60}}
_device_repository:
  _target_: oqtopus_engine_core.repositories.NullDeviceRepository
device_repository:
  _target_: oqtopus_engine_core.repositories.OqtopusCloudDeviceRepository
  url: ${oc.env:DEVICE_REPOSITORY_URL, "http://localhost:8888"}
  api_key: ${oc.env:DEVICE_REPOSITORY_API_KEY, ""}
  workers: ${oc.decode:${oc.env:DEVICE_REPOSITORY_WORKERS, 1}}

# buffer configurations
buffer:
  _target_: oqtopus_engine_core.buffers.QueueBuffer

# step configurations
debug_step:
  _target_: oqtopus_engine_core.steps.DebugStep
job_repository_update_step:
  _target_: oqtopus_engine_core.steps.JobRepositoryUpdateStep
multi_manual_step:
  _target_: oqtopus_engine_core.steps.MultiManualStep
  combiner_address: ${oc.env:COMBINER_ADDRESS, "localhost:52013"}
tranqu_step:
  _target_: oqtopus_engine_core.steps.TranquStep
  tranqu_address: ${oc.env:TRANQU_ADDRESS, "localhost:52020"}
  default_transpiler_info:
    transpiler_lib: qiskit
    transpiler_options:
      optimization_level: 1
estimator_step:
  _target_: oqtopus_engine_core.steps.EstimatorStep
  estimator_address: ${oc.env:ESTIMATOR_ADDRESS, "localhost:52012"}
  basis_gates:
    - "cx"
    - "id"
    - "rz"
    - "sx"
    - "x"
    - "reset"
    - "delay"
    - "measure"
ro_error_mitigation_step:
  _target_: oqtopus_engine_core.steps.ReadoutErrorMitigationStep
  mitigator_address: ${oc.env:MITIGATOR_ADDRESS, "localhost:52011"}
device_gateway_step:
  _target_: oqtopus_engine_core.steps.DeviceGatewayStep
  gateway_address: ${oc.env:GATEWAY_ADDRESS, "localhost:52021"}
sse_step:
  _target_: oqtopus_engine_core.steps.sse_step.SseStep
  runner_settings:
    sse_engine_port: ${oc.decode:${oc.env:SSE_GATEWAY_ROUTER_LISTEN_PORT, 52014}}
    host_work_path: ${oc.env:SSE_HOST_WORK_PATH, "/sse_work"}
    delete_host_temp_dirs: ${oc.decode:${oc.env:SSE_DELETE_HOST_TEMP_DIRS, true}}
    container_work_path: ${oc.env:SSE_CONTAINER_PATH, "/sse"}
    userprogram_name: ${oc.env:SSE_USER_PROGRAM_NAME, "userprogram.py"}
    result_file_name: ${oc.env:SSE_RESULT_NAME, "result.json"}
    log_file_name: ${oc.env:SSE_LOG_NAME, "sse_runtime.log"}
    container_image: ${oc.env:SSE_CONTAINER_IMAGE, "sse-v2/python3.13:latest"}
    container_disk_quota: ${oc.decode:${oc.env:SSE_CONTAINER_DISK_QUOTA, 67108864}}
    container_memory: ${oc.decode:${oc.env:SSE_CONTAINER_MEMORY, 268435456}}
    container_cpu_set: ${oc.env:SSE_CONTAINER_CPU_SET, "0"}
    timeout: ${oc.decode:${oc.env:SSE_TIMEOUT, 600}}
    max_file_size: ${oc.decode:${oc.env:SSE_MAX_FILE_SIZE, 10485760}}

# exception handler configurations
pipeline_exception_handler:
  _target_: oqtopus_engine_core.handlers.FailJobRepositoryHandler
